.square {
  margin: 3px 5px;
  vertical-align: top;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  box-sizing: border-box; }
  .square.center {
    margin: 3px auto; }
  .square:hover {
    -webkit-transform: rotate(7deg);
        -ms-transform: rotate(7deg);
            transform: rotate(7deg); }
    .square:hover + .square {
      opacity: .5; }
  .square_container {
    margin-top: 10px;
    text-align: center; }

.btn_container {
  text-align: center;
  margin-top: 10px; }

.button {
  margin: 0 5px;
  padding: 10px 25px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .button.enabled {
    background-color: green; }
  .button:first-child {
    background-color: yellow; }
    .button:first-child.loaded {
      background-color: green; }
    .button:first-child.complete {
      background-color: tomato; }

p {
  font-weight: normal;
  padding: 0; }

.caption {
  float: right;
  margin-right: 20px; }
  .caption.off {
    display: none; }
  .caption span {
    font-style: italic;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: 600;
    cursor: pointer; }
    .caption span:hover {
      text-decoration: underline; }

